{% extends "client/master.html.twig" %}
{% block body %}
    <!-- head -->
	<section class="section section--head">
		<div class="container">
			<div class="row">
				<div class="col-12 col-xl-6">
					<h1 class="section__title section__title--head">Coming Soon</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- end head -->

	<!-- about -->
	<section class="section section--pb0">
		<div class="container">
			<div class="row">
				<!-- section text -->
				<div class="col-12">
					<p class="section__text section__text--small">Feature in progress, please come back later.</p>

				</div>
				<!-- end section text -->
			</div>

			<div class="row row--grid">
				<div class="col-12 col-lg-4">
					<div class="step">
						<span class="step__number">M</span>
						<h3 class="step__title">Movie Data</h3>
						<p class="step__text">The feature allows users to search and look up data on movies, from the country and genre to actors participating in that movie.</p>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="step">
						<span class="step__number">C</span>
						<h3 class="step__title">Cinema</h3>
						<p class="step__text">The cinema feature lets users watch movies and download movies directly on the Mines website.</p>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="step">
						<span class="step__number">S</span>
						<h3 class="step__title">Social</h3>
						<p class="step__text">The Social feature allows users to register an account, comment and exchange with other users directly on the Mines platform.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end about -->
{% endblock %}