<!-- footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 order-4 order-md-1 order-lg-4 order-xl-1">
				<div class="footer__flixtv">
					<img src="" alt="">
				</div>
			</div>
		</div>

		<div class="row" style="text-align: center;">
			<div class="col-12" style="text-align: center;">
				<div class="col-12" style="justify-content: center;">
					<small class="footer__copyright" style="text-align: center;">Copyright © Mines, 2023. Created by 杨志龙 - Dương Chí Long - Lion Wilson</small>
{# 
					<div class="footer__content">
						<small class="footer__copyright" style="text-align: center;">Copyright © Mines, 2023. Created by 杨志龙 - Dương Chí long - Lion Wilson</small>
					</div> #}
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->
